.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: 'Macondo', cursive;

    font-family: 'Oleo Script Swash Caps', cursive;
    border-bottom: 5px solid red;
    border-width: 5px;
    width: 400px;
    text-align: center;
    border-right: 5px solid red;
    box-shadow: 4px 4px 5px pink;
    margin-top: 10px;
}


img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
    animation: forwards;
}